<div class="conteudo-milho">
    <img src="placeholdermilho5.jpg" alt="Imagem de milho" class="imagem-topo" />
  
    <h1 class="titulo-principal">A IMPORTÂNCIA DO MILHO</h1>
  
    <div class="container-assuntos">
      <div class="assunto">
        <h2>Alimento Básico no Mundo Todo</h2>
        <p>O milho é uma das principais fontes de alimento no mundo, usado em pratos, farinhas e cereais consumidos diariamente.</p>
      </div>
      <div class="assunto">
        <h2>Matéria-Prima Sustentável</h2>
        <p>Além da alimentação, o milho é usado na produção de biocombustíveis, plásticos biodegradáveis e ração animal.</p>
      </div>
      <div class="assunto">
        <h2>Gerador de Empregos e Renda</h2>
        <p>A cadeia produtiva do milho movimenta a economia, gerando milhões de empregos no campo e na indústria.</p>
      </div>
    </div>
  
    <!-- Botões abaixo dos assuntos -->
    <div class="botoes-abaixo">
      <button class="botao" (click)="trocarPagina()">Confira mais</button>
      <button class="botao" (click)="trocarPagFormulario()">Entre em contato</button>
    </div>
</div>
  