<div class="conteudo">
    <a (click)="trocarPaginaHome()"><img class="imagem-milho" src="milho.png" alt="Imagem de milho"></a>
    <div class="container-conteudo-texto">
        <div class="titulo">A importância do milho</div>
            <div class="texto">
            O milho é um dos cereais mais importantes do mundo, essencial para a alimentação humana e animal.
            Rico em carboidratos, fibras e vitaminas, ele fornece energia e nutrientes fundamentais. Além disso,
            é base para inúmeros produtos industriais — desde alimentos processados até biocombustíveis.
            Sua versatilidade e alto rendimento tornam o milho vital para a segurança alimentar e o desenvolvimento
            econômico de muitos países.
            </div>
        
        <div class="botoes-alinhados">
            <button class="botao" (click)="trocarPagina()">Confira mais!</button>
            <button class="botao" (click)="trocarPagFormulario()">Contate-nos!</button>
        </div>

        
    </div>
</div>
  